﻿/* radiantthemes-currency-converter element-one */

.radiantthemes-currency-converter.element-one{
	text-align:center;
	font-size:0;
}

.radiantthemes-currency-converter.element-one .radiantthemes-currency-converter-form{
}

.radiantthemes-currency-converter.element-one .radiantthemes-currency-converter-form label{
	display:inline-block;
	vertical-align:top;
	margin:15px 10px 10px 10px;
	font-weight:500;
	font-size:30px;
	color:#fff;
	line-height:1;
}

.radiantthemes-currency-converter.element-one .radiantthemes-currency-converter-form .radiantthemes-currency-converter-form-row{
	position:relative;
	display:inline-block;
	vertical-align:top;
	width:250px;
	margin:0px 5px 10px 5px;
	padding:5px 90px 5px 20px;
	border:1px rgba(255,255,255,0.4) solid;
}

.radiantthemes-currency-converter.element-one .radiantthemes-currency-converter-form .radiantthemes-currency-converter-form-row input[type=number]{
	width:100%;
	height:50px;
	padding:0;
	background-color:transparent;
	border:none;
	font-weight:500;
	font-size:22px;
	color:#fff;
	line-height:1;
}

.radiantthemes-currency-converter.element-one .radiantthemes-currency-converter-form .radiantthemes-currency-converter-form-row select{
	position:absolute;
	top:5px;
	right:10px;
	z-index:1;
	width:65px;
	height:50px;
	padding:0;
	background-color:transparent;
	border:none;
	font-weight:500;
	font-size:18px;
	line-height:1;
}

/* LARGE DESKTOP PART */
@media screen and (min-width:1200px){
}

/* DESKTOP PART */
@media screen and (min-width:992px) and (max-width:1199px){
}

/* TABLET LANDSCAPE PART */
@media screen and (min-width:768px) and (max-width:991px){
}

/* TABLET PROTRAIT PART */
@media screen and (min-width:480px) and (max-width:767px){
}

/* SMART PHONE LANDSCAPE PART */
@media screen and (min-width:321px) and (max-width:479px){

	.radiantthemes-currency-converter.element-one .radiantthemes-currency-converter-form .radiantthemes-currency-converter-form-row{
		width:100px;
	}

}

/* SMART PHONE PROTRAIT PART */
@media screen and (max-width:320px){

	.radiantthemes-currency-converter.element-one .radiantthemes-currency-converter-form .radiantthemes-currency-converter-form-row{
		width:100px;
	}

}