/*
 Theme Name:   Unbound Child
 Theme URI:    http://themes.radiantthemes.com/unbound/
 Description:  Unbound Child Theme
 Author:       RadiantThemes.com
 Author URI:   http://radiantthemes.com/
 Template:     unbound
 Version:      1.0.0
 License:      GNU General Public License v2 or later
 License URI:  http://www.gnu.org/licenses/gpl-2.0.html
 Tags:         custom-background, custom-logo, custom-menu, featured-images, threaded-comments, translation-ready
 Text Domain:  unbound-child
*/

.footer_main_item .widget-title {
	color: #fda60f;
}


.category-list {display: none;}

.testimonial-item > .holder > .testimonial-data .btn {display: none!important}
.testimonial-item > .holder > .testimonial-title > .testimonial-title-data .title {margin-bottom: 0px!important}

.grecaptcha-badge { 
    visibility: hidden;
}